.advantages {
    background-image: linear-gradient(rgba(0, 0, 0, .5)), url('../images/advantages-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.advantages__content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 50px;    
}

.advantages__content:last-child {
    //margin: var(--lrg-marg-padd);
}

.advantages__item{
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 70px;
}

.advantages__title {
    padding: 70px 0 50px 0;
    text-align: center;
    color: #00BFF3;
    font-size: var(--fz);
}

.--advantages__change-clr {
    color: #fff;
}

.advantages__icon {
    margin-bottom: 30px;
}

.advantages__text {
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    width: 300px;
}