.info {
    font-family: 'Open Sans', sans-serif;
    background-color: #00BFF3;
}


.info__content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.info__title {
    text-align: center;
    padding-top: 70px;
    margin-bottom: 30px;
    color: #fff;
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
}
.info__item {
    background-color: #fff;
    padding: 90px 30px 30px 30px;
    display: inline-block;
    position: relative;
    margin-bottom: 70px;
    min-height: 330px;
}
.info__num {
    position: absolute;
    bottom: 291px;
    left: 246px;
}
.info__icon {
    margin-bottom: 30px;
}
.info__text {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 25px;
}
.info__subtext {
    width: 230px;
}