.preview__content {
    background: linear-gradient(rgba(0,0,0,.6)), url('../images/header-bg.jpg');
    max-width: none;
    height: 70vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding: var(--lrg-marg-padd);
}

.preview__box {
    margin-left: 60px;
}

.preview__title {
    font-size: 24px;
    width: 310px;
    color: #fff;
    margin-bottom: 30px;
}

.--preview__change-fz {
    font-size: var(--fz);
}

.preview__list {
    position: relative;
}

.preview__item {
    margin-bottom: 20px;
    font-size: 18px;
    color: #fff;
    position: relative;
    padding-left: 40px;
    width: 400px;
}

.preview__item::before {
    background-image: url('../images/header-circle.svg');
    width: 25px;
    height: 25px;
    position: absolute;
    content: '';
    top: -5px;
    left: 0;
    margin-right: 5px;
    z-index: 20;
}