.requirements {
    background-color: #DBF7FF;
}

.requirements__container {
    padding-bottom: 70px;
}

.requirements__content {
    background-color: #00BFF3;
    padding: 40px 80px;
    display: flex;
    justify-content: center;
}

.requirements__title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
}

.requirements__item {
    margin-right: 40px;
}

.requirements__icon {
    margin-bottom: 30px;
}

.requirements__text {
    width: 250px;
    color: #fff;
}