.reviews__container {
    padding: 30px 0 70px 0;
    overflow: hidden;
    position: relative;
}

.image-slider__image {
    text-align: center;
}

.image-slider__image img {
    max-width: 100%;
}

/* Стрелки */
.reviews__container .swiper-button-prev::after,
.reviews__container .swiper-button-next::after {
    color: #ffffff;
    font-size: 40px;
}

.reviews__container .swiper-pagination {
    bottom: 0;
}

.reviews__container .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    background-color: #00BFF3;
    border-radius: 0;
}

.reviews__title {
    font-size: var(--fz);
    text-align: center;
    margin-bottom: 50px;
}

.reviews__item {
    width: 350px;
    text-align: center;
    color: #fff;
}

.reviews__img {
    margin-bottom: 20px;
}

.reviews__img::before {
    content: '';
    position: absolute;
    width: 70%;
    height: 100%;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #00bff3;
    z-index: -1;
    display: block;
}

.reviews__name {
    font-weight: 500;
    margin-bottom: 15px;

}

.reviews__feedback {
    width: 65%;
    margin: 0 auto;
}

.reviews__container .swiper-button-next::after, .reviews__container .swiper-button-prev::after {
    color: #00bff3;
}