.services {
    text-align: center;
    font-size: 36px;
}

.services__title {
    margin-bottom: 30px;
    font-size: var(--fz);
}

.services__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 0 15px;
}

.services__item {
    font-family: 'Open Sans', sans-serif;
    margin: var(--lrg-marg-padd);
}

.services__text {
    font-weight: 600;
    font-size: 25px;
}

.services__subtext {
    width: 250px;
    font-size: 14px;
    margin: 15px auto 25px;
}

.services__price {
    display: inline-block;
    font-size: 18px;
}

.services__btn {
    display: inline-block;
    width: 150px;
    margin-bottom: 20px;
}

.services__info {
    color: #7575A0;
    font-size: 14px;
}
